.UsageRecordCardSelectStyle {
    width: 2.93rem;
    height: 2rem;
}

.OutputStatisticsCardSelectStyle {
    width: 2.93rem;
    height: 2rem;
}

.ProductQualityCardSelectStyle {
    width: 2.93rem;
    height: 2rem;
}